html {
    width:100%;
    height: 100%;
}

body {
    width:100%;
    height: 100%;
    margin: 0;
}

.main-container {
    width:100%;
    height:100%;
    display:grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas: "test test1 test2";
    background:black;
}

.test{
    grid-area: test;
    background:green;
}

.test1{
    grid-area: test1;
    background: white;;
    height:90%;
}

.test2{
    grid-area: test2;
    background:yellow;
}

/* ================ こっから下は本番でも使う可能性大 ================= */

/* div要素に対するスタイル */
.box{
    height:200px;
    width:200px;
    position: absolute;
    z-index: 0;
    border-radius: 20px;
}
/* dragする時につけるクラス */
.drag{
    z-index: 1000;
    border:3px solid red;
    cursor: move;
}

/* resizeする時につけるクラス */
.resize{
    z-index: 1000;
    border:3px solid red;
    cursor: nwse-resize;
}

/* 選択されている要素につけるクラス */
.selected{
    border:3px solid black;
}

/* コードを表示する場所のpタグはmargiを0にする */
code p{
    margin:0;
    tab-size:4;
}